notebooks/input
notebooks/data_clean/
notebooks/Customer_data_test.csv
notebooks/CustomerDataToBePredicted.csv
notebooks/preprocessor.pkl
notebooks/lgbm_model.pkl
notebooks/.ipynb_checkpoints
/venv
data/.ipynb_checkpoints
.ipynb_checkpoints
.idea
__pycache__




