/notebooks/CustomerDataToBePredicted.csv
/notebooks/Customer_data_test.csv
/notebooks/lgbm_model.pkl
/notebooks/preprocessor.pkl
/notebooks/data_clean/
/notebooks/input/
/venv
__pycache__
.idea
.ipynb_checkpoints
data/.ipynb_checkpoints
notebooks/.ipynb_checkpoints
